<!--Victor S, Holly D, Anna J
    301 website project
    
    March 21
    -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About</title>
    <meta name="description" content="A simple file to start an HTML5 page">
    <meta name="author" content="Victor Stahlman">
    <script type="text/javascript" src="../js/display.js"></script>

    <link rel="stylesheet" href="../css/style.css?v=1.0">

    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--these are some cdn's for bootstrap, jQuery, etc-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>


<!--Start of the body -->

<body class="mainBody">

    <div id="headerid"></div>


    <section class="fluid container centered">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">

                <h2>Who Are We.?</h2>
                <p> We are a team of people that want you to enjoy your experience. Nothing brings us more joy than helping you with your issues and making sure that your needs are met.
                </p>


            </div>
            <ul>
                <li>
                    <h5>Holly D. </h5>
                    <p></p>
                </li>
                <li>
                    <h5>Anna J.</h5>
                    <p></p>
                </li>
                <li>
                    <div class="row">
                        <div class="col-12 col-sm-10 col-md-6">
                            <h5>Victor S.</h5>

                            <p>Victor is a CS major that has always been after the simpler laptop based setups from always working on the move. He can help you with any of your more mobile operations.</p>

                            <p>His suggestions are: Make sure to have a quiet mouse so you are not too loud in some quieter public places. Also make sure you have a good set of headphones so that you can isolate yourself from the crowd and get working when
                                you want to.
                            </p>
                        </div>
                        <img class="col-12 col-sm-10 col-md-5 ProfPic" alt="A picture of Victor" src="../images/Port photo.jpg">
                    </div>
                </li>
            </ul>
        </div>
    </section>





    <div id="footerid"></div>
</body>

</html>