<!--Victor S, Holly D, Anna J
    301 website project
    
    March 21
    -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Contact</title>
    <meta name="description" content="A simple file to start an HTML5 page">
    <meta name="author" content="Victor Stahlman">
    <script type="text/javascript" src="../js/display.js"></script>

    <link rel="stylesheet" href="../css/style.css?v=1.0">

    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--these are some cdn's for bootstrap, jQuery, etc-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>


<!--Start of the body -->

<body class="mainBody">

    <div id="headerid"></div>


    <section class="fluid container centered">
        <div class="row">
            <div class="col-16 col-sm-12 col-md-12">
                <h4 class="centered">Become a partner</h4>

                <h6> What is in it.?
                </h6>
                <p> Partners are businesses that we get our supplies from. We give you business, and business excusivity if you want for a deal on your products that we sell. So you allow us to make more money so we can sell even more of your products.
                    <br> We also work with other businesses in the area and would like to form a fellowship with you can help where we can't and vice versa.
                </p>

            </div>
            <div class="col-16 col-sm-12 col-md-12">
                <h6>What can we do for you.?</h6>
                <p> Some text
                    <br> more text
                    <a href="about.html"> About US </a> page. <br>


                </p>
            </div>
        </div>
    </section>





    <div id="footerid"></div>
</body>

</html>