<!--Victor Stahlman, ,
    301 website project
    
    March 21
    -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="A simple file to start an HTML5 page">
    <meta name="author" content="Victor Stahlman">
    <script type="text/javascript" src="../js/display.js"></script>

    <link rel="stylesheet" href="../css/style.css?v=1.0">

    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--these are some cdn's for bootstrap, jQuery, etc-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>


<!--Start of the body -->

<body class="mainBody">

    <div id="headerid"></div>


    <section id="center">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <h4 class="centered">Welcome</h4>
                <p>first text
                </p>
                <h2>Who Are We.?</h2>
                <p> Some text
                    <br> more text
                    <a href="about.html"> About US </a> page. <br>


                </p>
            </div>
        </div>
    </section>





    <div id="footerid"></div>
</body>

</html>