<!--Victor Stahlman, ,
    301 website project
    
    March 21
    -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="A simple file to start an HTML5 page">
    <meta name="author" content="Victor Stahlman">
    <script type="text/javascript" src="../js/display.js"></script>

    <link rel="stylesheet" href="../css/style.css?v=1.0">

    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--these are some cdn's for bootstrap, jQuery, etc-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>


<!--Start of the body -->

<body class="mainBody">

    <div id="headerid"></div>


    <section class="fluid container centered">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-4">
                <h4 class="centered">Welcome to H.A.V. Computer Supply</h4>
                <p>We hope to do business with you and help you find what you are looking for in your computer experice.
                </p>
                <h3>Who Are We.?</h3>
                <p> We are a team of tech enthusists that love to make your computer experiece better.
                    <br> You can learn more about us on the
                    <a href="about.html"> About US </a> page.
                </p>
                <!-- maybe a gallary of our profile pics.? -->

            </div>

            <aside class="col-12 col-sm-10 col-md-4">
                <h4>Products</h4>

                <p>Go visit the <a href="products.html">Products page</a> to look at our selection.
                    <br> We have everything from Webcams and headsets, to lighting and mouse pads.
                </p>
            </aside>
        </div>
    </section>





    <div id="footerid"></div>
</body>

</html>