<!--Victor S, Holly D, Anna J
    301 website project
    
    March 21
    -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Newsletter</title>
    <meta name="description" content="A simple file to start an HTML5 page">
    <meta name="author" content="Victor Stahlman">
    <script type="text/javascript" src="../js/display.js"></script>

    <link rel="stylesheet" href="../css/style.css?v=1.0">

    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--these are some cdn's for bootstrap, jQuery, etc-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>


<!--Start of the body -->

<body class="mainBody">

    <div id="headerid"></div>


    <section class="fluid container centered">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-4">
                <h4 class="centered">Are you interested in getting special updates.?</h4>
                <p>Feel free to sign up for the newsletter which is emailed out when we have a promotion.

                </p>
                <h3>Sign up</h3>

                <input type="email" id="email">
                <a href="../images/Newsletter.pdf" download="Newsletter">
                <button type="button" onclick="thank()"> Submit email and send newsletter</button></a>
                <!-- display a newsletter.? -->
                <!-- it is not a true interaction but it does give you a newsletter when you submit ;) -->

            </div>
        </div>
    </section>

    <script>
        function thank(){
            var name = document.getElementById("email").value;
            alert("Thank you "+ name+ " for submitting your name. the download for the latest newsletter has began.")
        }
    </script>



    <div id="footerid"></div>
</body>

</html>