<!--Victor S, Holly D, Anna J
    301 website project
    
    March 21
    -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Products</title>
    <meta name="description" content="A simple file to start an HTML5 page">
    <meta name="author" content="Victor Stahlman">
    <script type="text/javascript" src="../js/display.js"></script>
    <script type="text/javascript" src="../js/projectsup.js"></script>

    <link rel="stylesheet" href="../css/style.css?v=1.0">
    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--these are some cdn's for bootstrap, jQuery, etc-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>


<!--Start of the body -->

<body class="mainBody">

    <div id="headerid"></div>
    

    <section class="fluid container centered">
        
                <h4 class="centered">Are you interested in getting special updates.?</h4>
                <p>Feel free to sign up for the newsletter which is emailed out when we have a promotion.

                </p>
                <h3>Products</h3>

                <table id="suptbl">
                    <tbody>
                        <tr>
                            <th> Add Itemtype to Cart </th>
                            <th> Picture</th>
                            <th> Product </th>
                            <th> Description </th>
                            <th> Price</th>
                            <th> Amount</th>

                        </tr>

                        <tr>
                            <td><input type="checkbox" id="chb1"></td>
                            <td> <img class= "infoCard" alt="image of product" src="../images/image1.png"></td>
                            <td>Wireless Keyboard and mouse set</td>
                            <td>
                                This is a wireless keyboard and mouse set that is silent type and click. Multi System support.
                                
                                </td>
                            <td>33.00</td>
                            <td><input type=" number " min="0 " id="num1 " value="0"> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chb2"></td>
                            <td> <img class= "infoCard" alt="image of product" src="../images/image9.png"></td>
                            <td>keyboard</td>
                            <td>
                                This is a wired rainbow backlit keyboard that has silent keys. Great for if you are a loud typer.
                                
                                </td>
                            <td>26.00</td>
                            <td><input type=" number " min="0 " id="num2 " value="0"> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chb3"></td>
                            <td> <img class= "infoCard" alt="image of product" src="../images/image3.jpg"></td>
                            <td>Webcam</td>
                            <td>This is 2 MP, with 30 FPS and can be plug and play with its driver.</td>
                            <td>19.00</td>
                            <td><input type=" number " min="0 " id="num3 " value="0"> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chb4"></td>
                            <td> <img class= "infoCard" alt="image of product" src="../images/image11.png"></td>
                            <td>Wireless mouse</td>
                            <td>
                                Has a silent click. It is rechargeable and wireless. Slim design and has adjustable DPI and lighting.
                                
                                </td>
                            <td>14.00</td>
                            <td><input type=" number " min="0 " id="num4 " value="0"> </td>
                        </tr>
                        
                        <tr>
                            <td><input type="checkbox" id="chb5"></td>
                            <td> <img class= "infoCard" alt="image of product" src="../images/image10.jpg"></td>
                            <td>Monitor 27”</td>
                            <td>This is a 1920x1080 flat desktop monitor. HDMI and mountable.</td>
                            <td>150.00</td>
                            <td><input type=" number " min="0 " id="num5 " value="0"> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chb6"></td>
                            <td> <img class= "infoCard" alt="image of product" src="../images/image7.jpg"></td>
                            <td>Monitor stand</td>
                            <td>This is a stand to holding 2 monitors that is very mobile and can cover many of you possible needs with its range of motion.</td>
                            <td>32.00</td>
                            <td><input type=" number " min="0 " id="num6 " value="0"> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="ch7"></td>
                            <td> <img class= "infoCard" alt="image of product" src="../images/image8.png"></td>
                            <td>Wired Speakers</td>
                            <td>
                                These are wired speakers that can be plugged in by USB or 3.5mm micro jack. Great for portability. 
                                
                                </td>
                            <td>15.00</td>
                            <td><input type=" number " min="0 " id="num7 " value="0"> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chb8"></td>
                            <td> <img class= "infoCard" alt="image of product" src="../images/image6.png"></td>
                            <td>
                                Drawing Tablet with Stylus
                                
                                </td>
                            <td>
                                11x8.6in drawing tablet that comes with a stylus. It is connected to a computer with a usb cord and is easy to use anywhere. 
                                
                                </td>
                            <td>70.00</td>
                            <td><input type=" number " min="0 " id="num8" value="0"> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chb9"></td>
                            <td> <img class= "infoCard" alt="image of product" src="../images/image4.png"></td>
                            <td>
                                External CD Drive
                                
                                </td>
                            <td>
                                This wired external CD drive is plugged in by USB. Convenient for laptops without a CD drive. 
                                
                                </td>
                            <td>22.00</td>
                            <td><input type=" number " min="0 " id="num9 " value="0"> </td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" id="chb"></td>
                            <td> <img class= "infoCard" alt="image of product" src="../images/image2.png"></td>
                            <td>
                                Webcam with tripod
                                
                                </td>
                            <td>
                                1080 full HD webcam. Wired webcam has a built in mic with 110 degree wide angle.You can use the universal clip to put on laptop or monitor or it can be used with the tripod. 
                                
                                </td>
                            <td>15.00</td>
                            <td><input type=" number " min="0 " id="num11 " value="0"> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="ch12"></td>
                            <td> <img class= "infoCard" alt="image of product" src="../images/image5.webp"></td>
                            <td>
                                1TB 3.1 USB SSD external drive
                                
                                </td>
                            <td>
                                This is a USB 3.1 drive that is top of the line </td>
                            <td>120.00</td>
                            <td><input type=" number " min="0 " id="num12 " value="0"> </td>
                        </tr>
                    </tbody>
                </table>

                <br>
                <button onclick="cartTotal()">  Total the cart</button>
                <p id="cart"></p>

    </section>





    <div id="footerid"></div>
</body>

</html>