<!--Victor S, Holly D, Anna J
    301 website project
    
    March 21
    -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Services</title>
    <meta name="description" content="A simple file to start an HTML5 page">
    <meta name="author" content="Victor Stahlman">
    <script type="text/javascript" src="../js/display.js"></script>

    <link rel="stylesheet" href="../css/style.css?v=1.0">

    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--these are some cdn's for bootstrap, jQuery, etc-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>


<!--Start of the body -->

<body class="mainBody">

    <div id="headerid"></div>


    <section class="fluid container centered">
        <div>
            <h2 id="servformTitle">Services Form</h2>
            
            <h6>Requesters Nam (make sure it is spelled correctly if you already have worked with us)</h6>
            <input type="text" id="name" >
            <h6>Password</h6>
            <input type="password" id= "pass">
            <h6>Request (it will be the same as last time if we have not got to it yet)</h6>
            <input type= "text" id="request"><br>
            <button id="Submit" style="margin: 5px; color:white; background-color: #50bdbd;" onclick="" >Submit</button>


        </div>
    </section>





    <div id="footerid"></div>
</body>

</html>